*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

:root {
  --off-white: #f4f9f4;
  --unit-100vh: 100vh;
  /* Handle 100vh on mobile using Dynamic View Height units */
  @supports (height: 100dvh) {
    --unit-100vh: 100dvh;
  }
}

body {
  background-color: var(--off-white);
  min-height: var(--unit-100vh);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 12px;
}

@media (orientation: landscape) {
  html {
    font-size: 16px;
  }
}
