@import './base.scss';
@import './tailwind.css';

#app {
  width: 100vw;
  height: var(--unit-100vh);
  margin: 0 auto;
  padding: 2rem;
  padding-left: calc(65px + 2rem);
  font-weight: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}

h2 {
  color: theme('colors.cv-dark.400');
  font-weight: bold;
  font-size: 2rem;
}

h3 {
  font-weight: bold;
}

h4 {
  text-decoration: underline;
}

@media (hover: hover) {
  a:hover {
    background-color: theme('colors.cv-light.200');
  }
}
