@use 'vuetify/settings' with (
  // variables go here
  $navigation-drawer-border-color: transparent,
  $list-item-icon-opacity: 1,
  $list-item-nav-title-font-weight: 700,
  $list-item-icon-margin-start: 1rem
);
